@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    max-width: 1480px;
    margin-right: auto;
    margin-left: auto;
}


body{
    background: #FFF;
    margin: 0;
    padding: 0;
   

}
/* Style the navbar */


/* This section handles the grid */
*,
*::before,
*::after { 
  box-sizing: border-box;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.77);
    transition: background-color 0.3s ease;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
}

.container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 65px; /* Adjust the width as needed */
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some spacing between logo and text */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;

  
    
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease;
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}

.nav-links a:hover {
    color: #B82631;
}


.cta-button {
    display: inline-flex;
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border-color: transparent;

    color: #B82631;
    text-align: right;

    /* Inter/Semi-bold/16px */
    font-family: Inter;
    font-size: 16px;
    font-style: medium;
    font-weight: 700;
    /* line-height: 24px; 150% */

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #B82631;
    color: #ffffff;
}

 Change navbar background and link colors on scroll */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar.scrolled .nav-links a {
    color: #f5f5f5;
}


.banner-section{
    background-image: url(BG.svg) ;
    /* background: linear-gradient(90deg, #EAE9E8 52.08%, #B82631 100%); */
    background-size: cover;
    height: fit-content;
    padding: 2rem;
    padding-top: 3rem;
    }

    .banner-section .content-1 .text-large{
        color: #000;
    font-family: Paytone One;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 82px; /* 117.143% */
    margin-bottom: .5rem;
   

    flex-shrink: 0;
    }

    .banner-section .content-1 .text-Medium{
        color: var(--black, #12141D);
        /* Inter/Regular/20 */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        letter-spacing: -0.5px;
        margin-bottom: .5rem;


        opacity: 0.7;
    }
    .banner-section .content-1 .banner-button{
        display: flex;
        padding: 16px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 8px;
        color: white;
        text-decoration: none;

        border-radius: 15px;
        border-color: transparent;
        background: #B82631;

       
    }

    .banner-section .content-1 .banner-button a{
        color: #FFF;
        text-align: right;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        text-decoration:none;
    }

    .banner-section .content-2 img{
        
        width: 100%;
        height: 500px;
        object-fit:cover;
 
        border-radius: 20px;
        background:  lightgray 50% / cover no-repeat;

    }

    .banner-section .content-box{
        
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 75px;
       
        

        padding-top: 3rem;
    }



    .Endless-Applications{

        /* background: linear-gradient(90deg, #EAE9E8 52.08%, #B82631 100%); */

        height: fit-contents;
        flex-shrink: 0;
        padding: 1rem;
        }
        
        .Endless-Applications {
           width: fit-content;
        }

        .Endless-Applications .content-1 .text-large{
            font-family: Paytone One;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            padding-bottom: 25px;
        }

        .Endless-Applications .content-1 .text-large red{
            color: #B82631;
        }
    
        .Endless-Applications .content-1 .text-Medium{
            color: var(--neutral-600, #525252);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; 
        }
        
    
        .Endless-Applications .content-2 img{
            object-fit: cover;
            height: 397px;
            width: 100%;
            border-radius: 24px;
            background: lightgray -162.917px -57px / 135.909% 114.358% no-repeat;
    
        }
    
        .Endless-Applications .content-box{
            
            display: inline-flex;
        
            justify-content: center;
            align-items: center;
            gap: 102px;
            padding-left: 10%;
            /* margin-right: 9%; */
            
            padding-top: 109px;
            padding-bottom: 61px;
    
            
        }
    .Future-Fabrication{

        /* background: linear-gradient(90deg, #EAE9E8 52.08%, #B82631 100%); */
        background-image: url(BG.svg) ;
        height: fit-content;
        padding: 2rem;
        background-color: #F7F7F7;

        display: flex; /* Add flex display */
        justify-content: flex-end; /* Align content to the right */
        }
        
        .Future-Fabrication .content-1 {
            height: fit-content;
            flex-shrink: 0;
        }

        .Future-Fabrication .content-1 .text-large{
            font-family: Paytone One;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            padding-bottom: 25px;

            text-align: left;
        }

        .Future-Fabrication .content-1 .text-large red{
            color: #B82631;
        }
    
        .Future-Fabrication .content-1 .text-Medium{
            color: var(--neutral-600, #525252);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; 

            text-align: left;
        }
        
    
        .Future-Fabrication .content-2 img{
            object-fit: cover;
            width: 100%;
            height: 397px;
            border-radius: 24px;
            background: lightgray -162.917px -57px / 135.909% 114.358% no-repeat;
    
        }
    
        .Future-Fabrication .content-box{
            
            display: inline-flex;
        
            justify-content: center;
            align-items: center;
            gap: 102px;
            padding-right: 10%;
            /* margin-right: 9%; */
            
            padding-top: 109px;
            padding-bottom: 61px;

    
            
        }




    .equipment .content-box{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
        display: flex;  

        padding-top: 48px;
        padding-bottom: 38px;

    }

    .equipment .content-box .text-large{
        color: #12141D;
        text-align: center;
        font-family: Paytone One;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px; /* 125% */
    }

    .equipment .content-box .text-Medium{
        color: var(--neutral-600, #525252);
        text-align: center;
        
        /* Inter/Regular/18 */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */

    }



    .equipment .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        
        padding: 0;
        /* width: 90%; */
        border-radius: 24px 24px 0px 0px;
        
        margin-left: 10%;
        margin-right: 10%;
        
       
        
        
        
    }
    
    .equipment  .cards__item {
        display: flex;
        padding: 1rem;
        @media(min-width: 40rem) {
        width: 50%;
        }
        @media(min-width: 56rem) {
        width: 33.3333%;
        }
    }
    
    .equipment  .card {
        background-color: white;
        border-radius: 24px;
        /* border-bottom: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid; */
        
        
        /* box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25); */
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &:hover {
        .card__image {
            filter: contrast(100%);
        }
        }
    }
  
  .equipment  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    
    border-color: #0056b3;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
   
    

    border-bottom: 2px solid #E5E5E5;
        border-left: 2px solid #E5E5E5;
        border-right: 2px solid #E5E5E5;
        /* border-radius: 24px; */
        
  }
  
  .equipment  .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    /* filter: contrast(70%);
    filter: saturate(180%); */
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
    &::before {
      content: "";
        display: block;
      padding-top: 56.25%; 
    }
    @media(min-width: 40rem) {
      &::before {
        padding-top: 66.6%; 
      }
    }
  }
  
  .equipment  .card__image--1 {
    background-image: url(https://res.cloudinary.com/inside-plastics/image/upload/v1689086977/Calsak/CNC_Machine_a8uo9m.jpg); 
    }
  
    .equipment  .card__image--2 {
        background-image: url(https://res.cloudinary.com/inside-plastics/image/upload/v1693228292/Calsak/AdobeStock_435789656-2_bdanfa.jpg); 
    }

    .equipment  .card__image--3 {
    background-image: url(https://res.cloudinary.com/inside-plastics/image/upload/v1690564897/Calsak/AdobeStock_497747933_mo0dmb.jpg); 
    }

    .equipment  .card__image--4 {
        background-image: url(https://res.cloudinary.com/inside-plastics/image/upload/v1688999694/Calsak/Calsak%20Charlotte/20230705_163642__2_kvveif.jpg); 
    }
    
    .equipment  .card__image--5 {
        background-image: url(https://res.cloudinary.com/inside-plastics/image/upload/v1688999694/Calsak/Calsak%20Charlotte/20230705_163642__2_kvveif.jpg); 
    }

    .equipment  .card__image--6 {
        background-image: url(https://res.cloudinary.com/inside-plastics/image/upload/v1689340042/Calsak/MicrosoftTeams-image_13_n1rnah.jpg); 
    }

    .equipment  .card__image--7 {
        background-image: url(https://res.cloudinary.com/inside-plastics/image/upload/v1693228292/Calsak/iStock-177304284_cropped_nbo4eh.jpg); 
    }
    .equipment  .card__image--8 {
        background-image: url(https://res.cloudinary.com/inside-plastics/image/upload/v1689086745/Calsak/MicrosoftTeams-image_10_jvqlh2.jpg); 
    }

    .equipment  .card__image--9 {
        background-image: url(https://res.cloudinary.com/inside-plastics/image/upload/v1688729737/Calsak/MicrosoftTeams-image_5_avodyh.png); 
    }


  .equipment  .card__title {
    color: var(--neutral-800, #262626);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
  }
  
  .equipment .card__text {
    color: var(--neutral-600, #525252);
    font-family: Inter;
    font-size: 14px;
    font-style: Bold;
    font-weight: 400;
    line-height: 150%; /* 24px */
    }



    .equipment .background-section {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #f0f0f0; /* Set the background color for the section */
    }
    
    .equipment .svg-container {
        position: absolute;

        width: 100px;
        height: 100px; 

    }
    



    .Industry-Applications{
        margin-top: 210px;
    }
    
    .Industry-Applications .content-box{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
        display: flex;  

       padding: 1rem;
       

    }

    .Industry-Applications .content-box .text-large{
        color: #12141D;
        text-align: center;
        font-family: Paytone One;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px; /* 125% */
        
    
    }

    .Industry-Applications .content-box .text-Medium{
        color: #12141D;
        text-align: center;
        
        /* Inter/Regular/18 */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */

    }

    .Industry-Applications .Large-cards {
        display: grid;
        align-items: flex-start;
        gap: 25px;
        grid-row-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;

    }

    @media only screen and (min-width: 1200px) {

        .Industry-Applications .Large-cards {
            grid-template-columns: 1fr 1fr 1fr;
        }
        
    }

    @media only screen and (max-width: 1200px) {

        .Industry-Applications .Large-cards {
            grid-template-columns: 1fr ;
        }
        
    }

    .Industry-Applications .Large-cards .card {
        width: 415px;
        height: 504px;
        list-style-type: none;
    }

    .Industry-Applications .Large-cards .card img{
        width: 415px;
        height: 408px;
        object-fit: cover;
        flex-shrink: 0;
        border-radius: 24px;
        /* background: url(https://s3-alpha-sig.figma.com/img/fe7c/3b29/a91ff37829b8564a0fbb2a7f896d0fe9?Expires=1693785600&Signature=IvvpBZkADd3ygZVxqzClpG5-N3tzLI0VTbI7~VmvNNHI8nd1GXeWmBg4Md9ZFj9ylIKsHCgmND7oGFl5rxSZv6Np2iCJ4sLb9KTwCxICTrl7UNjCQj-gGiqyE6mjvIOOOpCKMqoVkiptYFBbOJHVoeWolM0Dp6xPI9dxjRbbgrqSek1Y-U1RnAaanRa2tKijfr~xSP~LFx6sG6K0qi66s-83RjfPWHrbICHSzJWEx879ke0QzAb64VvyxvtI5M502DWOJJfMQ1OSFwasSczZK957gIUTL~HdG3iXChGuQCMKATN-hhwgyyAAQeKbsGR0FtcsFp4bj2B65jDa524kbw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4), lightgray 50% / cover no-repeat; */
 
    }

    .Industry-Applications .Large-cards .card .content-1{

        margin-top: 20px;
        gap: 15px;
    }



    .Industry-Applications .Large-cards .card .content-1 .card__title{
        color: #12141D;
        font-family: Paytone One;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 24px */
    }

    .Industry-Applications .Large-cards .card .content-1 .card__text {
        color: #52525B;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
    }


    .footer{
        background: var(--gray-900, #18181B);
        padding-top: 62px;
        margin-top: 4rem;
    }

    .footer .Contact-Us{
        /* flex-direction: column; */
        align-items: center;
        gap: 20px;
        justify-content: center;
        display: flex;  
        background-color: #B82631;
        margin-left: 10%;
        margin-right: 10%;
        

        padding-left: 47px;
        padding-right: 47px;
        padding-top: 36px;
        padding-bottom: 36px;

        border-radius: 10px;
        justify-content: space-between;
        
        

    
    }
    
    .footer .Contact-Us .content-1{
    display: inline-flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 10px;
    
    }
    
    .footer .Contact-Us .content-1 .text-large{
        color: var(--general-color-3, #FFF);
        font-family: Paytone One;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px; /* 131.25% */
    }

    .footer .Contact-Us .content-1 .text-Medium{
        color: var(--neutral-200, #E5E5E5);
        /* Inter/Regular/20 */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        letter-spacing: -0.5px;
    }

    .footer .Contact-Us .content-1 .text-Medium a{
        color: var(--neutral-200, #E5E5E5);
        /* Inter/Regular/20 */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        letter-spacing: -0.5px; 
        text-decoration:none;
    }


    .footer .Contact-Us .Get-Quote-Button{
        display: flex;
        width: 214px;
        height: 55px;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        flex-shrink: 0;
        color: var(--neutral-200, #E5E5E5);
        border: solid black;
        border-radius: 10px;
        background: var(--base-black, #000);

        color: #FFF;
        text-align: right;

        /* Inter/Semi-bold/16px */
        font-family: Inter;
        font-size: px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }

    .footer .Contact-Us .Get-Quote-Button a{
        color: #FFF;
        text-align: right;

        /* Inter/Semi-bold/16px */
        font-family: Inter;
        font-size: px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        text-decoration:none;
    }

    .footer .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* padding-left: 47px;
        padding-right: 47px; */
        padding-top: 8.3rem;
        padding-bottom: 3rem;
        
        margin-left: 10%;
        margin-right: 10%;
    }

    .footer .footer-bottom p{
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 160% */
        letter-spacing: -0.5px;
    }

    .content-1 {
        width: 50%;
    }

    .content-2 {
        width: 50%;
    }

    button, a {
        color: white;
        text-decoration: none;
    }
    

    @media only screen and (max-width: 1200px) {

    .banner-section .content-1 .text-large{
        color: #000;
    font-family: Paytone One;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 82px; /* 117.143% */
    margin-bottom: .5rem;
   

    flex-shrink: 0;
    }

    .banner-section .content-1 .text-Medium{
        color: var(--black, #12141D);
        /* Inter/Regular/20 */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        letter-spacing: -0.5px;
        margin-bottom: .5rem;


        opacity: 0.7;
    }

    }

    @media only screen and (max-width: 1000px) {

        .banner-section .content-1 .text-large {
            font-size: 50px;
            line-height: 82px; /* 117.143% */

        }

        .content-1 {
            width: 100%;
        }
    
        .content-2 {
            width: 100%;
        }
        
        
        .content-box {
            flex-direction: column;
        }

        .content-2 {
            width: 100%;
        }
        
        .Endless-Applications .content-box {
            flex-direction: column-reverse;
        }

        .logo img {
            height: 40px; /* Adjust the width as needed */
            width: auto; /* Maintain aspect ratio */
            margin-right: 10px; /* Add some spacing between logo and text */
        }
    }

    @media only screen and (max-width: 800px) {

        .nav-links {
            display: none;
        }

    }
      
 